<!doctype html>
<html>
    <head>
        <title>View Data</title>

        <link rel="stylesheet" href="site.css">
    </head>
    <body>
        <tbody>
        <table id="customers">
            <tr>
                <th>Product Name</th>
                <th>Barcode</th>
                <th>Quantity</th>
                <th>Location</th>
            </tr>
            {{#each viewinventory}} 
            <tr>
                <td>{{productName}}</td>
                <td>{{Barcode}}</td>
                <td>{{Quantity}}</td>
                <td>{{Location}}</td>
            </tr>
            {{/each}}
        </table>
        </tbody>
    </body>
</html>