body {
    background-color:#21313C;
  }

hr.new1 {
    border-top: 2px solid white;
}

h2.headerhome {
    color: rgb(255, 255, 255);
    text-align: center;

}
div.a {
    height: 54px;
    left: 200px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 340px;
    width: 222px;
    font-size: 36px;
    color:#4682B4
}

div.b {
    height: 59px;
    left: 200px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 440px;
    width: 289px;
    font-size: 36px;
    color:rgb(178,34,34);
}

.number-1 {
    height: 54px;
    left: 550px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 340px;
    width: 90px;
    color:#4682B4;
    font-size: 36px

}

.number-2 {
    height: 59px;
    left: 550px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 440px;
    width: 104px;
    color:rgb(178,34,34);
    font-size: 36px
}

html,
body,
#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.chartobj .anychart-credits {
    visibility: hidden;
}

.chartcontainer {
    height: 59px;
    left: 250px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 410px;
    width: 104px;
    font-size: 24px
}

.righttop {
    height: 550px;
    position: absolute;
    right: 350px;
    top: 100px;
    width: 500px;
}
.lefttop {
    height: 300px;
    position: absolute;
    left: 50px;
    top: 100px;
    width: 300px;
}