.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 270px;
    background-color: #2C3E50;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-content form input[type=text] {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.modal-content form p, label{
    color: #ddd;
}

.modal-content form a {
    display: block;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}


/*Add Item button CSS*/
.additem-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.additem-modal-content {
    width: 500px;
    height: 650px;
    background-color: #2C3E50;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.additem-modal-content form input[type=text] {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.additem-modal-content form p, label{
    color: #ddd;
}

.closeadditem {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.closeadditem:hover {
    color: #ddd;
}

#additem-button {
    position:absolute;
    top: 0;
    right:15px;
}

/*Add edit button CSS*/
.editItem-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.editItem-modal-content {
    width: 500px;
    height: 650px;
    background-color: #2C3E50;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.editItem-modal-content form input[type=text] {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.editItem-modal-content form p, label{
    color: #ddd;
}

.closeEditItem {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.closeEditItem:hover {
    color: #ddd;
}
