
  .table-responsive {
    overflow-y: auto;
    height: 80vh;
  }
    
  .table-responsive thead th {
    position: sticky;
    top: 0;
  }
  .table-responsive th,
  .table-responsive  td {
    padding: 5px 10px;
    width: 365px;
  }
  


body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: left;
    align-items: left;
    background-color: white;
  }

.menu-container{
    width: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

/* Sales Container Styling */
.button-container {
    width: 75%;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: lightgray;
    overflow-y: auto;
    border: solid;
    border-style: ridge;
    border-color: black;
    padding: 5px;
}

/* Sales Button Styling */
.button-container > a {
    padding: 5px;
    width: auto;
    height: auto;
    align-content: center;
    outline:auto;
    outline-color: black; 
}

.button {
  color:green;
  padding: 5px;
  border: ridge;
  border-color: black;
}

/* Sales Table Styling */
table, tr, td {

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    width: auto;
  }
  
    tr:nth-child(even){background-color: #f2f2f2;}
  
    tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

/* Sales h1 Styling */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

/* Sales h1 Styling */
h4 {

    padding-bottom: 0;
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

/*Footer Styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}