
  .table-responsive {
    overflow-y: auto;
    height: 80vh;
  }

  .table-responsive thead th {
    position: sticky;
    top: 0;
  }


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  
 
}
#customers thead th {
  position: sticky;
  top: 0;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px 16px;
  
}

#customers tr:nth-child(even){background-color: #f2f2f2;}



#customers tbody tr:hover {background-color: #ddd;}



#customers td:nth-child(1) {
  background-color: white;
  border: none;
  align-content: right;
  
}
#customers td:nth-child(8) {
  background-color: white;
  border: none;
}

#customers th:nth-child(1) {
  background-color: white;
  border: none;
  
}

#customers th:nth-child(8) {
  background-color: white;
  border: none;
  
} 
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#customers a {
  color: black;
}
/*Search Bar*/
.input-group mb-3 {
  
  text-align: center;
  top: 500px;
  width: 100%;
  justify-content: center;
}

h1 {
  padding-left: 180px;
}
